.sider 
    .inner-menu     
        ul 
            li 
                a(href="/admin/dashboard") Tổng quan 
            li 
                a(href="/admin/accounts/create") Tạo tài khoản Admin
            li 
                a(href="/admin/accounts/user") Danh sách tài khoản Admin